
<div class="footer">
    <p class="leftfoot"><a href="mailto:lynnhogeneschgamedev@gmail.com">lynnhogeneschgamedev@gmail.com</a></p>
    <p class="rightfoot"><a href="https://lynnhe.itch.io/">lynnhe.itch.io</a></p>
</div>