* {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif;
    color: #EFD9F2;
    background: #45194C;
    margin:0px;
    height: 100%;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a{
    color:#D69FDF;
}
nav {
    margin: 0px;
    width: 100%;
    height: 75px;
    background: #784D80;
    position: sticky;
    text-align: center;
}

nav img{
    float:left;
    margin:10px;
    width:55px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type:none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 25px;
    color: #D69FDF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
    text-align: center;
}


div.home{
    text-align: center;
    position:relative;
    width:fit-content;
    margin:auto auto ;
}
div.home img{
    width:100%;
}
div.home a{
    position:absolute;
    text-align:center;
    left: 0;
    width: 100%;

}
div.home a.homePort{
    bottom: 45%;
}
div.home a.homeAbt{
    bottom: 7%;
}

body.home{
    background-color: #784D80;
    margin:1em;
}

nav ul li strong a{
    color:#E18FEF;
}
div.gameContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1em;
    margin:1em;
    align-items: start;
    justify-content: center;
    width:100%-2em;
}
div.Game img{
    width:100%;
    height: auto;
}

div.about{
    margin:2em;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
div.profile{
    display:flex;
    flex-direction: column;
}
div.profile img{
    width:50%;
    align-self: center;
}
p.profiledesc{
    display: block;
    align-self: center;
}
div.profile h3{
    margin:0;
    text-align:center;
}
div.profile h4{
    margin:0;
    text-align:center;
}
body.gameDetails h2{
    margin:0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 3em;
    text-align: center;
    width:100%;
}
div.summary{
    margin:1em;
    display:grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding:1em;
    gap: 1em;
    width:100%-2em;
    background-color: #5d3c63;
}
div.summary img{
    width:100%;
}
div.summary ul{
    width:100%-1em;
    height: 100%;
    align-content: center;
    background-color: #4a304f;
    padding:0 2em;
}
div.summary li{
    width:100%;
}
body.gameDetails h3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size:2em;
    text-align: center;
    width:100%;
}
div.details{
    margin:1em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding:1em;
    gap: 1em;
    width:100%-2em;
    background-color: #5d3c63;
}
div.details img{
    width:100%
}
div.details p{
    width:100%-1em;
    height: 100%;
    align-content: center;
    background-color: #4a304f;
    text-align: center;
    padding:0 1em;
}
div.footer{
    position:sticky;
    bottom: 0;
    width:100%-2em;
    display:flex;
    justify-content: space-between;
    background-color: #784D80;
    padding:0 1em;
    z-index: 1000;
}


@media screen and (max-width: 600px) {
    div.gameContainer{
    grid-template-columns: 1fr;
    }
    h1{
        font-size:10vw;
    }
    div.about{
        grid-template-columns: auto;
    }
    div.summary{
        grid-template-columns: 1fr;
    }
    div.details{
        grid-template-columns: 1fr;
    }
}