body {
    font-family:'Times New Roman', Times, serif;
    color: #fce8ff;
    background: #3d283f;
    margin:0px;
}

a{
    color:#D69FDF;
}
nav {
    margin: 0px;
    width: 100%;
    height: 75px;
    background: #784D80;
    position: sticky;
    text-align: center;
}

nav img{
    float:left;
    margin:10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type:none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 25px;
    color: #ffe8fe;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
}

h1 em {
    text-decoration: underline dashed purple;
}


div.home{
    text-align: center;
    position:relative;
    width:fit-content;
    margin:auto auto ;
}
div.home img{
    width:100%;
}
div.home a{
    position:absolute;
    text-align:center;
    left: 0;
    width: 100%;

}
div.home a.homePort{
    bottom: 45%;
}
div.home a.homeAbt{
    bottom: 7%;
}

body.home{
    background-color: #784D80;
    margin:1em;
}

nav ul li strong a{
    color:#E18FEF;
}

div.footer{
    position:sticky;
    bottom: 0;
    display:flex;
    justify-content: space-between;
    background-color: #784D80;
}
div.gameContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2em;
    align-items: center;
    justify-content: center;
    width:100%;
}
div.Game img{
    width:100%;
    height: auto;
}